---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Details from '../components/Details.astro';
import RSVP from '../components/RSVP.astro';
import Info from '../components/Info.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Hyde Gough Wedding">
	<main class="max-w-md mx-auto bg-[#F5F5F0] min-h-screen shadow-2xl overflow-hidden">
		<Hero />
		<Details />
		<RSVP />
		<Info />
		<Footer />
	
	</main>
</Layout>
