---
---

<section class="relative min-h-screen flex flex-col items-center justify-center text-center p-6 overflow-hidden bg-[#A8C8E1]">
    <!-- Top Shadow/Leaf -->
    <div class="absolute top-0 right-0 w-xl md:w-1/2 pointer-events-none z-0 mix-blend-multiply opacity-40" data-aos="fade-down-left" data-aos-duration="1500">
        <img src="/images/2.png" alt="" class="w-full object-cover" loading="eager" />
    </div>

    <!-- Bottom Shadow/Leaf -->
    <div class="absolute bottom-0 left-0 w-xl md:w-1/2 pointer-events-none z-0 mix-blend-multiply opacity-40" data-aos="fade-up-right" data-aos-duration="1500">
        <img src="/images/3.png" alt="" class="w-full object-cover" loading="eager" />
    </div>

    <div class="relative z-10 mt-0 flex flex-col items-center">
        <!-- Names Container -->
        <div class="relative flex items-center justify-center gap-4 mr-10" data-aos="zoom-in" data-aos-duration="1200">
            <div class="flex flex-col items-end leading-none">
        <img src="/images/footer.png" alt="" class="w-full object-cover" loading="eager" />
            </div>
            
            <!-- Ampersand -->
 
        </div>
        <!-- Date & Location -->

    </div>
</section>
